body
{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

    margin: 0;
    padding: 0 0 40px 0;

    color: white;
    /*background: #2c3e50;*/
    background: #EBEBEB;
}

.loader
{
    text-align: center;
}

.loader img
{
    max-height: 0;
    margin: 0;

    -webkit-transition: 1s all ease;
       -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
         -o-transition: 1s all ease;
            transition: 1s all ease;
}

.loader.active img
{
    max-height: 50px;
    margin: 10px auto 20px;
}